.filters {
    margin: 0px 0px 20px 20px;
    &_title{
        color: $slimegreen;
        font-family: $font-hand;
        margin-bottom: 10px;
        margin-top: 70px;
        font-size: 20px;
    }
    &_inputs{
        display: flex;
        gap: 20px;
    }
}

.form_label{
    font-family: $font-text;
    font-size: 22px;
    color: $blue;
}

.form_input{
    font-family: $font-text;
    font-size: 20px;
    width: 120px;
    color: $slimegreen;
    margin-left: 10px;
    border-radius: 10px;
    border: 3px solid $blue;
    padding-left: 5px;
    background-color: $black;
}