@import 'core/reset';
@import 'core/var';

@import 'layout/header';
@import 'layout/filters';
@import 'layout/characterlist';

.page {
    background-color: #010001;
    background-image: url('../images/bg.png');
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
}